<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
    <link href="../static/css/foodsheet.css" rel="stylesheet">
    <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <script src="../static/js/lib/jquery.url.js"></script>
    <script src="../static/js/food.js"></script>
</head>
<body style="background-color: #72BCB5">

{{template "block/nav.html" .}}

<div id="main">
    <div>头像图片</div>
    <input type="file" id="head-upload-file" name="head">
    <input type="button" id="head-upload-button" value="提交文件">
    <form id="write-mes-form" method="post">
        <div>Ps:请先点击提交文件后再填写下列内容</div>
        <div>个人语录</div>
        <input type="text" placeholder="请输入个人语录" name="words" value="{{.Words}}">
        <div>性别</div>
        <input type="text" placeholder="请输入性别(男/女)" name="sex" value="{{.Sex}}">
        <button type="button" onclick="history.back()">返回</button>
        <button type="submit" id="write-art-submit">提交信息</button>
    </form>
</div>
<script type="text/javascript" color="255,255,255" opacity='0.7' zIndex="-2" count="200" src="../static/js/back.js"></script>
</body>
</html>